html {
	height:100%;
	margin:0;
}

body {
	width:100%;
	height:100%;
	margin:0;
	background: linear-gradient(0deg,#212121 50%,black);
	font-family: "JetBrains Mono";
}

#app-content {
	width: 100%;
	top: 45%;
	position: absolute;
	transform: translateY(-50%);
}

#title {
	text-align: center;
	font-size:40px;
	padding: 40px;
}

#title a {
	/* Fallback: Set a background color. */
	background-color: #f3d577;
	
	/* Create the gradient. */
	background-image: linear-gradient(45deg, #f3d577, #bc4c4e);
	
	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;
	
	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

.main_button {
	position: relative;
	height: 50px;
	width: 80%;
	margin: 20px auto;
	background: linear-gradient(45deg, #f3d577, #bc4c4e);
	border-radius: 4px;
}

.main_button h2 {
	position: absolute;
	text-align: center;
	margin: 0;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
}

.main_input {
	display:none;
	position: relative;
	height: 50px;
	width: 80%;
	margin: 20px auto;
	background: linear-gradient(45deg, #f3d577, #bc4c4e);
	border-radius: 4px;
}


.main_input h2 {
	position: absolute;
	text-align: right;
	margin: 0;
	width: 45%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
}

.main_input input {
	color: black;
	background: transparent;
	border: none;
	margin-left: 50%;
	width: 50%;
	height: 100%;
	font-size: 18px;
	font-family: "JetBrains Mono";
}

.main_input input::placeholder {
  color: rgb(73, 73, 73);
}

input:focus{
	outline: none;
}

@keyframes slideInFromLeft {
  0% {
	transform: translateX(-100%);
  }
  100% {
	transform: translateX(0%);
  }
}

img {
	max-width: 500px;
	margin:0;
	animation: 1.5s ease slideInFromLeft;
}

#requesttaxi {
	pointer-events: none;
	opacity:0.3;
}
#requesttaxi.inputsentered {
	pointer-events: auto;
	opacity:1;
}