<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>raeda.app</title>
		<meta name="description" content="Epic ecentralised Taxi Service">
		<meta name="keywords" content="Blockchain, Decentralised, Taxi">
		<meta name="author" content="Tobias Loader, Rishin Madan, Caitlyn Frank">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="manifest" href="{{url_for('static', filename='assets/favicon/site.webmanifest')}}"> -->
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
		<!-- <link rel="shortcut icon" type="image/ico" href="{{url_for('static', filename='assets/favicon/favicon.ico')}}">
		 -->
		<style>
			/* @font-face {
			  font-family: "JetBrains Mono";
			  font-weight: 200;
			  src: url({{url_for('static', filename='JetBrainsMono-ExtraLight.ttf')}});
			} */
			@font-face {
			  font-family: "JetBrains Mono";
			  font-weight: 300;
			  src: url({{url_for('static', filename='JetBrainsMono-Light.ttf')}});
			}
		</style>
		{% block scripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			<script>
			
				let flask_data = {{ data | tojson }} // js vars from flask
				// let jetbrains_url = "local({{url_for('static', filename='JetBrainsMono-Light.ttf')}})";
			</script>
		{%- endblock scripts %}
  </head>
	<body>
		<!-- <p id='page-load' style='display:none'>{{page}}</p> -->
		<div id="app-content">
			<div id="central-content">
				{% block main_content %}{% endblock %}
			</div>
		</div>
		<noscript>
			<div style="padding:5%;border:rgb(255,255,255,0.5) 1px solid;width:40%;left:50%;top:50%;position:absolute;transform:translate(-50%,-50%);background:#59a29c;">
				<h2 style="color:white;margin:auto;text-align:center;">Oh noes! This tool requires Javascript to be enabled in your browser.</h2>
			</div>
		</noscript>
	</body>
</html>
