{% extends "base.html" %}

{% block scripts %}
	{{super()}}
	<script src="js/main.js" defer></script>
{% endblock %}

{% block main_content %}
	<img id="logo" src="assets/raeda_logo.svg" alt="logo">
	<div id="title">
		<a href="http://raeda.app">raeda.app</a>
	</div>
	<div id="locationbutton" class="main_button">
		<h2>where u at?</h2>
	</div>
	<div id="locationinput" class="main_input">
		<h2>from:</h2><input placeholder="A1">
	</div>
	<div id="destinationbutton" class="main_button">
		<h2>where u going?</h2>
	</div>
	<div id="destinationinput" class="main_input">
		<h2>to:</h2><input placeholder="D4">
	</div>
	<div id="requesttaxi" class="main_button">
		<h2>requesttaxi</h2>
	</div>
{% endblock %}